body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #88C5A1;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

html, body, #root{
  background-color: #FCFCF4;
}

#headerText{
  color: white;
}

#queueTable{
  margin-bottom: 0;
}

#showTable > thead, #queueTable > thead{
  background-color: #e1b58e;
  color: white;
}

#showTable > tbody > tr{
  background-color: white;
}

#movieInfoBox{
  padding: 0.75rem;
  background-color: #e1b58e;
  color: white;
  margin-bottom: 15px;
}

#queueTable > thead button{
  border-radius: 50px;
  background-color: #447786;
  border-color: #447786;
}

.playlist-button > button{
  background-color: #429764;
  border-color: #429764;
  max-width: 50px;
}

.playlist-button > button:hover, .playlist-button > button:focus, .playlist-button > button:active{
  background-color: #429764;
  border-color: #429764;
  filter: brightness(85%);
}

#queueTableContainer{
  position: fixed;
  top: 70px;
  right: 0;
  width: 33.3%;
  height: 100vh;
  z-index: 999;
  background-color: #e0eaec;
  overflow-y: scroll;
}

#videoPlayerContainer{
  background-color: black;
  max-height: 720px;
}

.main-content{
  margin-top: 85px;
}

.activeSong{
  background-color: #8ecee1;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.hide-scroll{
  overflow-y: hidden;
}

.queued > svg {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.queued-2 > svg {
  animation-name: spin-2;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(180deg);
  }
}

@keyframes spin-2 {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(180deg);
  }
}

@media(max-width: 1199px){
  #queueTableContainer{
    position: fixed;
    top: 67px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #e0eaec;
  }
}

@media(max-width: 767px){
  #searchBar{
    width: 100%;
  }
}
